@model Project;
@{
	ViewData["Title"] = "Modify Project";

	// ProjectEditData? data = (ProjectEditData?)ViewData["ProjectEditData"];
	// int? TaskLength = data?.projectTasks?.Count;
}

@section Styles {

}
@section Scripts {
	<script src="~/phoenix/js/phoenix-web.js"></script>
}

<div class="row gx-4">
	<div class="col-xl-6">
		<div class="card mb-4 phoenix-entry">
			<div class="card-header">
				PROJECT INFORMATION
			</div>
			<div class="card-body">
				<form asp-controller="Projects" asp-action="EditProject" method="post">
					<input type="hidden" data-val-required="The ID field is required." id="Id" name="Id" value=@Model.Id />
					<div class="mb-3">
						<label class="form-label">Title <span class="text-danger">*</span></label>
						<input type="text" class="form-control" value="@Model.Name" id="Name" name="Name">
					</div>
					<div class="mb-3">
						<label class="form-label">Version Control Link <span class="text-danger">*</span></label>
						<input type="text" class="form-control" value=@Model.VCLink id="VCLink" name="VCLink">
					</div>
					<div class="form-control p-0">
						<textarea name="Description" class="summernote form-control" rows="12">@Model.Description</textarea>
					</div>
					<br/>
					<div class="mb-3">
						<label class="form-label">Status</label>
						<select class="form-select" name="Status" value=@Model.Status>
							<option value="0">Not Yet Started</option>
							<option value="1">In Progress</option>
							<option value="2">Completed/Milestone</option>
						</select>
					</div>
					<hr/>
					<button type="submit" class="btn btn-outline-theme">Edit</button>
				</form>
			</div>
		</div>
		<<!--Delete The Project and Associated Tasks-->
		<div class="card mb-4 phoenix-entry">
			<div class="card-header">
				DELETE PROJECT AND TASKS
			</div>
			<div class="card-body">
				<form asp-controller="Projects" asp-action="DeleteProject">
					<input type="hidden" data-val-required="The ID field is required." name="ProjectId" value=@Model.Id />
					<div class="mb-3">
						<input type="text" class="form-control" data-val-required="Name is required." id="ProjectName" name="ProjectName" palceholder="Enter Project Name to Delete" required>
					</div>
					<hr/>
					<button type="submit" class="btn btn-outline-theme">DELETE PROJECT</button>
				</form>
			</div>
		</div>
	</div>
</div>