@model IEnumerable<Quantum.Models.Project>
@{
	ViewData["Title"] = "Projects";
}
@section Styles {
	<link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
	<link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" />
	<link href="~/Phoenix/css/phoenix-projects.css" rel="stylesheet" />
}
@section Scripts {
	<script src="~/lib/datatables.net/js/dataTables.min.js"></script>
	<script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
	<script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="~/phoenix/js/phoenix-web.js"></script>
	<script src="~/phoenix/js/phoenix-projects.js"></script>
}

<div class="d-flex align-items-center mb-3">
	<div>
		<h1 class="page-header mb-0">Phoenix Projects</h1>
	</div>

	<div class="ms-auto">
		<a href="#" class="btn btn-theme btn-sm w-130px py-2 fs-11px d-flex align-items-center justify-content-center"
		data-bs-toggle="modal" data-bs-target="#ProjectModal">
			<iconify-icon icon="material-symbols-light:add" class="fs-22px me-1 ms-n3 my-n3"></iconify-icon>
			ADD PROJECT
		</a>
	</div>
</div>

<partial name="Modals/ProjectAddModal"/>


<div class="row">
	<div class="card col-lg-8">
		<div class="table-responsive">
			<table id="dtProjects" class="table table-sm table-hover text-nowrap small mb-4 table-bordered phoenix-entry">
				<!--text-nowrap-->
				<thead class="table-dark">
					<tr>
						<th>NAME</th>
						<th>DESCRIPTION</th>
						<th>DATE CREATED</th>
						<th></th>
						<!--Make sure the number of Table Columns match up with the Data Points for each item-->
					</tr>
				</thead>
				<tbody>
					@foreach(var p in (List<Project>)ViewBag.Projects)
					{
						<tr class="projectrow">
							<td>
								<div class="d-flex align-items-center">
									<div class="ms-3">
										<a asp-controller="Projects" asp-action="Edit" asp-route-ProjectId=@p.Id
											class="text-body text-opacity-75 text-decoration-none">@p.Name</a>
									</div>
								</div>
							</td>
							@{string Desc = "";}
							@if(@p.Description?.Length > 60) {
								Desc = p.Description.Substring(0, 60) + "...";
							}else {
								Desc = p.Description;
							}
							<td class="align-middle">@Desc</td>
							<td class="align-middle">@p.CreationTimestamp</td>
							<td class="align-middle">
								<div class="col-md-6 col-sm-6 col-xs-6 mb-1 text-truncate">
									<a asp-controller="Projects" asp-action="Edit" asp-route-ProjectId=@p.Id><i class="far fa-lg fa-fw me-2 fa-edit"></i></a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-4">
		<partial name="ProjectDataView"/>
	</div>
</div>