@model Quantum.Models.ProjectEditData

@{
	ViewData["Title"] = "Project Tasks";
	ProjectEditData Data = (ProjectEditData)ViewBag.projectEditData;
}
@section Styles {
	<link href="~/Phoenix/css/phoenix-projects.css" rel="stylesheet"/>
}

@section Scripts {

}


<!--Header-->
<div class="d-flex align-items-center mb-md-3 mb-2">
	<div class="form-group row mb-3">
 		<div class="flex-fill">
			<h1 class="page-header mb-0 theme-color">
				@Data?.project?.Name
				<a asp-controller="Projects" asp-action="Edit" asp-route-ProjectId=@Data?.project?.Id title="Edit @Data?.project?.Name Data">
					<i style="color: lavender" class="far fa-lg fa-fw me-2 fa-edit"></i>
				</a>
			</h1>
 		</div>
	</div>
	<div class="ms-auto">
		<a data-bs-toggle="modal" data-bs-target="#ProjectTaskModal" class="btn btn-theme btn-sm py-2 fs-11px w-120px d-flex align-items-center justify-content-center">
			<iconify-icon icon="material-symbols-light:add" class="fs-22px me-1 ms-n3 my-n3"></iconify-icon>
			ADD TASK
		</a>
	</div>
</div>
<partial name="Modals/TaskAddModal" model=@Data.project.Id/>

<!-- Project Tasks Content-->
<div class="card">
	<ul class="nav nav-tabs nav-tabs-v2 small text-uppercase mb-4 px-2">
		<li class="nav-item me-4 pt-tab"><a href="#DevelopmentTab" class="nav-link active px-2 py-2" data-bs-toggle="tab">Development (@Data?.projectTasks?.FindAll(pTask => (pTask.Category == 0) && pTask.Status != 2).Count())</a></li>
		<li class="nav-item me-4 pt-tab"><a href="#StoryTab" class="nav-link px-2 py-2" data-bs-toggle="tab">Story (@Data?.projectTasks?.FindAll(pTask => (pTask.Category == 1) && pTask.Status != 2).Count())</a></li>
		<li class="nav-item me-4 pt-tab"><a href="#GameDesignTab" class="nav-link px-2 py-2" data-bs-toggle="tab">Design (@Data?.projectTasks?.FindAll(pTask => (pTask.Category == 2 && pTask.Status != 2)).Count())</a></li>
		<li class="nav-item me-4 pt-tab"><a href="#GraphicsTab" class="nav-link px-2 py-2" data-bs-toggle="tab">Graphics (@Data?.projectTasks?.FindAll(pTask => (pTask.Category == 3) && pTask.Status != 2).Count())</a></li>
	</ul>

	<!-- Pass in Model Data Here -->
	<div class="tab-content">
		<!--Development Tab-->
		<div class="tab-pane fade show active" id="DevelopmentTab">
			<partial name="Partials/ProjectTasksTab" model="@Data?.projectTasks?.FindAll(pTask => (pTask.Category == 0) )"/>
		</div>

		<!--Story Tab-->
		<div class="tab-pane fade" id="StoryTab">
			<partial name="Partials/ProjectTasksTab" model="@Data?.projectTasks?.FindAll(pTask => (pTask.Category == 1) )" />
		</div>

		<!--Design Tab-->
		<div class="tab-pane fade" id="GameDesignTab">
			<partial name="Partials/ProjectTasksTab" model="@Data?.projectTasks?.FindAll(pTask => (pTask.Category == 2) )" />
		</div>

		<!--Graphics Tab-->
		<div class="tab-pane fade" id="GraphicsTab">
			<partial name="Partials/ProjectTasksTab" model="@Data?.projectTasks?.FindAll(pTask => (pTask.Category == 3) )" />
		</div>
	</div>
</div>