@{
	ViewData["Title"] = "Home";
}

@section Styles {
	<link href="~/lib/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
}

@section Scripts {
	<script src="~/lib/jvectormap-next/jquery-jvectormap.min.js"></script>
	<script src="~/lib/jvectormap-content/world-mill.js"></script>
	<script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
	<script src="~/js/demo/dashboard.demo.js"></script>
}

<!-- BEGIN row -->
<div class="row g-2">
	<!-- BEGIN col-12 -->
	<div class="col-xl-6">
		<!-- BEGIN row -->
		<div class="col-xl-12 col-lg-4 col-6">
			<h1 class="page-header mb-0">Self Journey</h1>
		</div>

		<div class="row g-2">

			<!--No Mochas-->
			<div class="col-xl-2 col-lg-4 col-6">
				<div class="card h-100">
					<div class="card-header">Reddit</div>
					<div class="card-body">
						<div class="h4 fw-100 text-theme mb-1">12,543</div>
						<p class="text-white fs-10px mb-0">
							+8.5% vs last month
						</p>
						<p class="fs-9px mb-0 text-white text-opacity-50">
							updated 1 min ago
						</p>
					</div>
				</div>
			</div>
			
			<!-- Cooked Meals -->
			<div class="col-xl-2 col-lg-4 col-6">
			
			</div>
		</div>
	</div>
</div>