@{
	ViewData["Title"] = "Home";
}

@section Styles {
	<link href="~/lib/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
}

@section Scripts {
	<script src="~/lib/jvectormap-next/jquery-jvectormap.min.js"></script>
	<script src="~/lib/jvectormap-content/world-mill.js"></script>
	<script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
	<script src="~/js/demo/dashboard.demo.js"></script>
}

<!-- BEGIN row -->
<div class="row g-2">
	<!-- BEGIN col-12 -->
	<div class="col-xl-12">
		<!-- BEGIN row -->
		<div class="row g-2">
@* 			<div class="col-xl-2">
				<!-- BEGIN card -->
				<div class="card h-100">
					<!-- BEGIN card-header -->
					<div class="card-header">PROJECTS</div>
					<!-- END card-header -->
					<!-- BEGIN card-body -->
					<div class="card-body">
						<div class="h4 fw-100 text-theme mb-1">10 / 25 </div>
					</div>
					<!-- END card-body -->
				</div>
				<!-- END card -->
			</div>
			<div class="col-xl-2">
				<!-- BEGIN card -->
				<div class="card h-100">
					<!-- BEGIN card-header -->
					<div class="card-header">GROCERIES</div>
					<!-- END card-header -->
					<!-- BEGIN card-body -->
					<div class="card-body">
						<div class="h4 fw-100 text-theme mb-1">Data For Groceries Here</div>
					</div>
					<!-- END card-body -->
				</div>
				<!-- END card -->
			</div>
			<div class="col-xl-2">
				<!-- BEGIN card -->
				<div class="card h-100">
					<!-- BEGIN card-header -->
					<div class="card-header">CHORES</div>
					<!-- END card-header -->
					<!-- BEGIN card-body -->
					<div class="card-body">
						<div class="h4 fw-100 text-theme mb-1">Data for Chores Here </div>
					</div>
					<!-- END card-body -->
				</div>
				<!-- END card -->
			</div> *@
		</div>
		<!-- END row -->
	</div>
	<!-- END col-12 -->
</div>
<!-- END row -->