@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-xl-2 col-lg-4 col-6">
	<!-- BEGIN card -->
	<div class="card h-100">
		<!-- BEGIN card-header -->
		<div class="card-header">PAGE VIEWS</div>
		<!-- END card-header -->
		<!-- BEGIN card-body -->
		<div class="card-body">
			<div class="h4 fw-100 text-theme mb-1">12,543</div>
			<p class="text-white fs-10px mb-0">
				+8.5% vs last month
			</p>
			<p class="fs-9px mb-0 text-white text-opacity-50">
				updated 1 min ago
			</p>
		</div>
		<!-- END card-body -->
	</div>
	<!-- END card -->
</div>
