.gallery-menu-container {
	min-width: rem(180px);
}
.gallery-menu {
	padding: $spacer * .5;
	font-size: $font-size-sm;
	
	@include media-breakpoint-up(md) {
		position: sticky;
		top: $app-header-height;
	}
	@include media-breakpoint-down(md) {
		overflow: scroll;
		display: flex;
		flex-wrap: nowrap;
	}
	& .gallery-menu-header {
		padding: $spacer $spacer $spacer * .25;
		font-weight: $font-weight-bold;
		font-size: 90%;
		
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
	& .gallery-menu-item {
		& .gallery-menu-link {
			padding: $spacer * .5 $spacer;
			display: flex;
			align-items: center;
			color: rgba(var(--#{$prefix}body-color-rgb), .5);
			text-decoration: none;
			
			@include media-breakpoint-down(md) {
				white-space: nowrap;
			}
			&:hover {
				color: rgba(var(--#{$prefix}body-color-rgb), .75);
			}
			&.active {
				color: var(--#{$prefix}theme);
			}
		}
	}
}

.gallery-content-container {
	width: 100%;
}
.gallery {
	padding: $spacer;
	
	& .gallery-title {
		font-size: $font-size-base;
		color: var(--#{$prefix}body-color);
		font-weight: $font-weight-semibold;
		margin-bottom: $spacer;
		
		& a {
			color: var(--#{$prefix}body-color);
			text-decoration: none;
			
			& i {
				font-size: $font-size-sm;
				color: rgba(var(--#{$prefix}body-color-rgb), .5);
				
				@if $enable-rtl {
					margin-right: $spacer;
				} @else {
					margin-left: $spacer;
				}
			}
		}
		& small {
			display: block;
			color: rgba(var(--#{$prefix}body-color-rgb), .5);
			font-size: $font-size-sm;
		}
	}
	& .gallery-image-list {
		list-style-type: none;
		margin: $spacer * -.15;
		padding: 0;
	
		@include clearfix();
	
		& > li {
			position: relative;
			padding-top: 7.5%;
			width: 10%;
			
			@if $enable-rtl {
				float: right;
			} @else {
				float: left;
			}
		
			@include media-breakpoint-down(xl) { 
				width: 12.5%;
				padding-top: 9.375%;
			}
			@include media-breakpoint-down(lg) {
				width: 16.6667%;
				padding-top: 12.5%;
			}
			@include media-breakpoint-down(md) {
				width: 20%;
				padding-top: 15%;
			}
			@include media-breakpoint-down(sm) {
				width: 25%;
				padding-top: 18.75%;
			}
			&:hover {
				z-index: 10;
			}
			& a {
				position: absolute;
				left: $spacer * .075;
				right: $spacer * .075;
				bottom: $spacer * .075;
				top: $spacer * .075;
				overflow: hidden;
				background: rgba(var(--#{$prefix}body-color-rgb), .15);
				display: flex;
				align-items: center;
				justify-content: center;
				transition: $transition-base;
			
				@include media-breakpoint-up(lg) {
					&:hover {
						left: -7.5%;
						right: -7.5%;
						top: -7.5%;
						bottom: -7.5%;
					}
				}
			}
			& img,
			& .img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
