item-row {
    background-color: rgba(0.0, 0.0, 0.0,.75);
}
tr.item-row:hover td {
    color: turquoise;
}

body .dt-bootstrap5 .dataTable.dtr-inline tr td.dtr-control::before {
    content: none !important;
}

table.table.dataTable > tbody > tr {
    background-color: rgba(0, 0, 0, .75);
}