:root {
    --bs-body-bg-gradient: none;
    --bs-body-bg-cover: url("../../img/healing_1.png");
    object-fit:contain;
}

tr {
    color: lightgreen;
}
tr.entry-row:hover td {
    color: turquoise;
}

.phoenix-section-header {
    text-decoration: underline;
    font-weight: bold;
    font-size: medium;
}

textarea {
    resize: none;
}

.card .phoenix-entry {
    background-color: rgba(0.0, 0.0, 0.0, .75);
}

.phoenix-entry {
    background-color: rgba(0.0, 0.0, 0.0, .75);
}

.vh90 {
    min-height:90vh;
}

.w100 {
    width: 100%;
}

.modal .modal-content {
    background: rgba(0, 0, 0, .95);
}


/*
    Videos
*/

#bg_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 95%;
    object-fit: contain;
}
