item-row {
    background-color: rgba(0.0, 0.0, 0.0,.75);
}
tr.item-row:hover td {
    color: turquoise;
}

body .dt-bootstrap5 .dataTable.dtr-inline tr td.dtr-control::before {
    content: none !important;
}

table.table.dataTable > tbody > tr {
    background-color: rgba(0, 0, 0, .75);
}

.card .item-data {
    background-color: rgba(0.0, 0.0, 0.0, .75);
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: rgba(0, 0, 0, .75);
}
.page-item disabled {
    background-color: rgba(0, 0, 0, .75);
}
