@model List<Quantum.Models.ProjectTask>



<div class="row gy-3 gx-3">
	<div class="col-lg-2">
		<div class="card">
			<div class="card-header bg-transparent-black-75">
				Name
			</div>
			<div class="card-body">
				Description
			</div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="card">
			<div class="card-header bg-transparent-black-75">
				Name
			</div>
			<div class="card-body">
				Description
			</div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="card">
			<div class="card-header bg-transparent-black-75">
				Name
			</div>
			<div class="card-body">
				Description
			</div>
		</div>
	</div>
</div>