@model List<Quantum.Models.ProjectTask>

<div class="row gy-3 gx-3">
	<div class="col-xl-4 col-lg-6">
		<div class="card">
			<div class="card-header bg-transparent-black-75">
				::TODO (@Model.Count(x => x.Status == 0))
			</div>
			@{
				foreach(ProjectTask pTask in (List<ProjectTask>)Model) {
					<partial name="Partials/ProjectTaskObj" model="@pTask" />
				}
			}
		</div>
	</div>
	<div class="col-xl-4 col-lg-6">
		<div class="card">
			<div class="card-header bg-transparent-black-75">
				::In-Progress (@Model.Count(x => x.Status == 1))
			</div>
		</div>
	</div>

	<div class="col-xl-4 col-lg-6">
		<div class="card">
			<div class="card-header bg-transparent-black-75">
				::Completed (@Model.Count(x => x.Status == 2))
			</div>
		</div>
	</div>
</div>

