@model Quantum.Models.Project

<div id="ProjectData" class="card" style="visibility:visible">
	<div class="card-header">PROJECT DATA </div>
	<div class="card-body phoenix-entry">
		<form asp-controller="Project" asp-action="" method="post">
		<!--Project Name-->
			<input id="dvProjectId" hidden asp-for="Id" />
			<div class="form-group row mb-3">
				<label class="form-label col-sm-4 col-form-label">Project Name: </label>
				<div class="col-sm-8">
					<input type="text" id="dvProjectName" class="form-control" asp-for=Name disabled />
				</div>
			</div>
		
			<!--Version Control Link-->
			<div class="form-group row mb-3">
				<label class="form-label col-sm-4 col-form-label">Version Control Link: </label>
				<div class="col-sm-8">
					<input type="text" id="dvVersionControlLink" asp-for=VCLink class="form-control" disabled />
				</div>
			</div>

			<!--Project Description-->
			<div class="form-group row mb-3">
				<div class="col-sm-12">
					<textarea class="form-control" id="dvProjectDescription" asp-for=Description rows="5" disabled></textarea>
				</div>
			</div>

			<!--Status-->
			<div class="form-group row mb-3">
				<div class="col-sm-12">
					<select id="dvCategory" class="form-select" name="Category" asp-for=Category disabled>
						<option value="0">Not Yet Started</option>
						<option value="1">In-Progress</option>
						<option value="2">Completed</option>
					</select>
				</div>
			</div>
			<hr />
			<button type="button" class="btn btn-outline-theme">Edit</button>
			<button id="btnUpdateProject" type="submit" class="btn btn-outline-theme" disabled>Update</button>
		</form>
	</div>
</div>