
@{
	ViewData["Title"] = "Journal Entries";
}
<div class="d-flex align-items-center mb-3">
	<div>
		<h1 class="page-header mb-0">Journal Entries</h1>
	</div>

	<div class="ms-auto">
		<a href="#" class="btn btn-theme btn-sm w-130px py-2 fs-11px d-flex align-items-center justify-content-center"
		   data-bs-toggle="modal" data-bs-target="#ProjectModal">
			<iconify-icon icon="material-symbols-light:add" class="fs-22px me-1 ms-n3 my-n3"></iconify-icon>
			Add Entry
		</a>
	</div>
</div>

<div class="row g-2">
	<div class="col-xl-6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Date</th>
					<th scope="col">Cooked</th>
					<th scope="col">Gym/Exercise</th>
					<th scope="col">Protein Intake (G)</th>
					<th scope="col">Water Intake (Fl.O) </th>
					<th scope="col">Calories</th>
				</tr>
			</thead>
			<tbody>
				<tr class="entry-row">
					<td>1</td>
					<td>02/25/2025</td>
					<td>Yes</td>
					<td>Yes</td>
					<td>120</td>
					<td>88</td>
					<td>2005</td>
				</tr>
			</tbody>

			<tr class="entry-row">
				<td>1</td>
				<td>02/25/2025</td>
				<td>Yes</td>
				<td>Yes</td>
				<td>120</td>
				<td>88</td>
				<td>2005</td>
			</tr>
		</table>
	</div>
	<div class="col-xl-4">
		
	</div>
</div>