@section Styles {

}

@section Scripts {

}

<div class="modal fade" id="JournalEntryModal">
	<div class="modal-dialog modal-md">
		<!--modal-lg-->
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Journal Entry</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form asp-controller="" asp-action="" method="post">
					<div class="form-group mb-3">
						<div class="col-xl-12">
							<div class="col-xl-4">
								<label class="form-label">Protein Intake</label>
							</div>
							<div class="col-xl-8">
								<input type="text" class="form-control" placeholder="" />
							</div>
						</div>
						<br />
						<button type="submit" class="btn btn-outline-theme">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
