<div id="footer" class="app-footer">
    <div class="col-lg-12">
        <audio class="w100" controls>
            <source src="myAudio.mp3" type="audio/mpeg" />
            <p>
                Download <a href="myAudio.mp3" download="myAudio.mp3">MP3</a> or
                <a href="myAudio.ogg" download="myAudio.ogg">OGG</a> audio.
            </p>
        </audio>
    </div>
</div>