<!-- BEGIN #loader -->
<div id="loader" class="app-loader">
	<div class="d-flex align-items-center">
		<div class="app-loader-circle"></div>
		<div class="app-loader-text">LOADING...</div>
	</div>
</div>
<!-- END #loader -->
