<!-- BEGIN btn-scroll-top -->
<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade">
	<iconify-icon icon="material-symbols-light:keyboard-arrow-up"></iconify-icon>
</a>
<!-- END btn-scroll-top -->