.modal {
	& .modal-content {
		background: none;
		
		& > * {
			position: relative;
		}
		& > div {
			background: var(--#{$prefix}modal-bg);
			
			& + div {
				margin-top: $modal-content-gap;
			}
		}
	}
	& .modal-dialog{
		&.modal-full {
			max-width: 100%;
			width: 100%;
			
			& .modal-content {
				border-radius: 0;
			}
		}
	}
	&.modal-cover {
		& .modal-dialog {
			min-height: 100%;
			margin-top: 0;
			margin-bottom: 0;
			display: flex;
			align-items: center;
		}
		& .modal-content > div {
			background: none;
			border: none;
		}
	}
}

.modal-backdrop {
	backdrop-filter: $modal-backdrop-filter;
	opacity: 1 !important;
	background: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
	transition: $transition-base;
	
	&.fade {
		background: none;
		backdrop-filter: none;
		
		&.show {
			background: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
			backdrop-filter: $modal-backdrop-filter;
		}
	}
}

